BASE_SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=
PRINCIPAL_PRIVATE_KEY=
SESSION_PRIVATE_KEY=
USDC_ADDRESS=
SMART_ACCOUNT_ADDRESS=
POLICY_ENGINE_URL=http://localhost:8001
RESOURCE_SERVER_URL=http://localhost:8002
